<div>
  <div data-ng-repeat="person in people">
    <span data-ng-init="friendsAreHidden = true"
          data-ng-click="friendsAreHidden = !friendsAreHidden"><span class="blue">{{person.name}}</span> has </span>

    <span data-ng-hide="!friendsAreHidden">
      {{person.friends.length}}
    </span>

    <span>friends</span>

    <span data-ng-hide="friendsAreHidden">
      <ul class="ul-list-style-none">
        <li data-ng-repeat="friend in person.friends">{{friend}}</li>
      </ul>
    </span>
  </div>

  <div class="blockquote-reverse">
    <div class="text-muted">{{message}}</div>
  </div>
  <div class="text-center">
    <span class="glyphicon glyphicon-triangle-right"></span>
    <span data-ng-transclude=""></span>
  </div>
  <!--
   "replace: true" require wrapping div
   Error: Template for directive 'peopleWithFriends' must have exactly one root element. /spaghetti-ng/htmls/directive/people-with-friends.html
   is replacing <people-with-friends></people-with-friends> with a <div></div>
  -->
</div>
